openapi: 3.2.0
info:
  title: DMarket trading Sold user items API
  description: Welcome to the DMarket Trading API section.
  version: v2.0.0
  x-logo:
    url: logo.svg
    backgroundColor: '#FFFFFF'
    altText: DMarket logo
servers:
- url: https://api.dmarket.com
security:
- ApiKey: []
  SignDate: []
  RequestSign: []
tags:
- name: Sold user items
  description: History of your completed sales.
paths:
  /marketplace-api/v1/user-offers/closed:
    get:
      tags:
      - Sold user items
      summary: List user closed offers
      description: Get the list of the user’s closed sell offers. The price amount format is in USD, i.e. 0.5 is 50 cents.
      operationId: GetUserClosedOffers
      parameters:
      - name: Limit
        description: Limits number of returned closed offers in response.
        in: query
        required: false
        schema:
          type: string
          format: uint64
      - name: OrderDir
        in: query
        required: false
        schema:
          type: string
          enum:
          - desc
          - asc
          default: desc
      - name: OfferCreated.From
        in: query
        required: false
        schema:
          type: string
          format: int64
          example: '1730419200'
      - name: OfferCreated.To
        in: query
        required: false
        schema:
          type: string
          format: int64
          example: '1730419200'
      - name: OfferClosed.From
        in: query
        required: false
        schema:
          type: string
          format: int64
          example: '1730419200'
      - name: OfferClosed.To
        in: query
        required: false
        schema:
          type: string
          format: int64
          example: '1730419200'
      - name: Cursor
        description: Cursor is next page identifier.
        in: query
        required: false
        schema:
          type: string
      - name: Finalization.From
        in: query
        required: false
        schema:
          type: string
          format: int64
          example: '1730419200'
      - name: Finalization.To
        in: query
        required: false
        schema:
          type: string
          format: int64
          example: '1730419200'
      - name: Status
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - successful
            - reverted
            - trade_protected
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/marketplaceGetUserClosedOffersResponse'
        default:
          description: An unexpected error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/runtimeError'
      x-codeSamples:
      - lang: Shell
        label: cURL
        source: "# Sign the request and set the three auth headers — reference clients: https://github.com/dmarket/dm-trading-tools\ncurl -G 'https://api.dmarket.com/marketplace-api/v1/user-offers/closed' \\\n  --data-urlencode 'Limit=10' \\\n  --data-urlencode 'OrderDir=desc' \\\n  --data-urlencode 'Status=successful' \\\n  -H \"X-Api-Key: $DMARKET_PUBLIC_KEY\" \\\n  -H \"X-Sign-Date: $TIMESTAMP\" \\\n  -H \"X-Request-Sign: dmar ed25519 $SIGNATURE\""
      - lang: Python
        label: Python (dm-trading-tools)
        source: "# Full signing client: https://github.com/dmarket/dm-trading-tools\nfrom dmarket_client import DMarketClient\n\nclient = DMarketClient(public_key=\"<public hex>\", secret_key=\"<secret hex>\")\npayload = {\n    \"Limit\": 10,\n    \"OrderDir\": \"desc\",\n    \"Status\": \"successful\"\n}\nresult, err = client.call(\"GET\", \"/marketplace-api/v1/user-offers/closed\", payload=payload)\nprint(result)"
components:
  schemas:
    marketplaceGetUserClosedOffersResponse:
      type: object
      properties:
        Trades:
          type: array
          items:
            $ref: '#/components/schemas/marketplaceGetUserClosedOffersResponseTrade'
        Total:
          type: string
          format: uint64
        Cursor:
          type: string
          description: Cursor is a next page identifier.
    marketplaceTradeStatus:
      type: string
      enum:
      - successful
      - reverted
      - trade_protected
      default: successful
    TradeFeeData:
      type: object
      properties:
        Amount:
          $ref: '#/components/schemas/marketplaceMoney'
        Percent:
          type: string
        IsPersonal:
          type: boolean
          format: boolean
    marketplaceMoney:
      type: object
      properties:
        Currency:
          type: string
          description: Currency code.
        Amount:
          type: number
          format: float
          description: Money amount.
    marketplaceGetUserClosedOffersResponseTrade:
      type: object
      properties:
        OfferID:
          type: string
        TargetID:
          type: string
        AssetID:
          type: string
        Price:
          $ref: '#/components/schemas/marketplaceMoney'
        CurrencyCode:
          type: string
        Amount:
          type: string
          format: uint64
        Title:
          type: string
        Fee:
          $ref: '#/components/schemas/TradeFeeData'
        OfferCreatedAt:
          type: string
          format: int64
        OfferClosedAt:
          type: string
          format: int64
        Status:
          $ref: '#/components/schemas/marketplaceTradeStatus'
        FinalizationTime:
          type: string
          format: int64
    runtimeError:
      type: object
      properties:
        error:
          type: string
        code:
          type: integer
          format: int32
        message:
          type: string
  securitySchemes:
    ApiKey:
      type: apiKey
      in: header
      name: X-Api-Key
      description: Public API key (lowercase hex). Generate it in your DMarket account settings. See https://dmarket.com/faq#tradingAPI.
    SignDate:
      type: apiKey
      in: header
      name: X-Sign-Date
      description: Unix timestamp in seconds at signing time (e.g. 1605619994). Must be within 2 minutes of server time.
    RequestSign:
      type: apiKey
      in: header
      name: X-Request-Sign
      description: 'Ed25519 request signature prefixed with `dmar ed25519 `. Sign the concatenation of HTTP method + path (including query string) + body + X-Sign-Date with your secret key, then hex-encode the 64-byte Ed25519 signature. Reference clients (Go, Python, JS, PHP): https://github.com/dmarket/dm-trading-tools.'
x-tagGroups:
- name: Account
  tags:
  - Account
- name: Trading
  tags:
  - Buy items
  - Sell Items
  - Sold user items
- name: Inventory
  tags:
  - Inventory/items
- name: Market data
  tags:
  - Aggregator
